process {

    withLabel: 'process_low' {
        cpus   = 2
        memory = 14.GB
        container = 'ghcr.io/bixbeta/wgs-align:latest'
    }

    withLabel: 'process_medium' {
        cpus   = 8
        memory = 32.GB
        container = 'ghcr.io/bixbeta/wgs-align:latest'
    }

    withLabel: 'process_high' {
        cpus   = 20
        memory = 200.GB
        container = 'ghcr.io/bixbeta/wgs-align:latest'
    }

    withLabel: 'process_qualimap' {
        cpus   = 20
        memory = 256.GB
        container = 'ghcr.io/bixbeta/wgs-qualimap:latest'
    }

    withLabel: 'process_deeptools' {
        cpus   = 20
        memory = 100.GB
        container = 'ghcr.io/bixbeta/wgs-deeptools:latest'
    }

    withLabel: 'process_quarto' {
        container = 'ghcr.io/bixbeta/wgs-quarto:latest'
    }

    withLabel: 'process_mqc' {
        container = 'docker://multiqc/multiqc:v1.32'
    }

}

docker {
    enabled    = true
    runOptions = "-v ${projectDir}:${projectDir}"
}

workflow.onComplete = {
    println "Pipeline complete"
    println "Command line: $workflow.commandLine"
}

workflow.onError = {
    println "Error: something went wrong"
}
